.meme-img {
    width: auto;
    max-height: 350px;
}
.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -8pt;
}
.description {
    font-size: 20px;
    font-weight: lighter;
}
.meme-name {
    font-size: 20px;
    font-weight: normal;
}
.App {
    text-align: center;
    /* display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    
  }

.btn {
    width: 170px;
    height: 40px;
}